
<div class="ibox float-e-margins" ng-controller="PersonnelDocumentsController as model">
    <div class="ibox-title">
        <h5>Which phone you bought.</h5>
    </div>
    <div class="ibox-content-image">
        <div class="carousel slide" id="carousel3">
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="image" class="img-responsive" src="~/Images/p_big3.jpg">
                </div>
                <div class="item">
                    <img alt="image" class="img-responsive" src="~/Images/p_big1.jpg">
                </div>
                <div class="item ">
                    <img alt="image" class="img-responsive" src="~/Images/p_big2.jpg">
                </div>

            </div>
            <a data-slide="prev" href="#carousel3" class="left carousel-control">
                <span class="icon-prev"></span>
            </a>
            <a data-slide="next" href="#carousel3" class="right carousel-control">
                <span class="icon-next"></span>
            </a>
        </div>
        <div class="xs-mt-10">
            <button type="button" class="btn btn-danger col-lg-12" data-toggle="modal" data-target="#ProfileSelfieModal"><i class="fa fa-upload"></i> Upload Selfie</button>
            <br />
            @Html.ActionLink("Upload Image", "UploadDocumentModal","PersonnelDocument");
        </div>
    </div>

    <div>
        <div class="modal fade" id="ProfileSelfieModal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form class="avatar-form" enctype="multipart/form-data" method="post">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal" type="button">&times;</button>
                            <h4 class="modal-title" id="avatar-modal-label">Upload Selfie</h4>

                            <br />
                            <div ng-show="model.imageUploadError" class="validation-summary-errors alert alert-danger col-lg-12 col-xs-12 col-sm-10">
                                <ul>
                                    <li ng-show="model.fileFormatError">Please Upload .jpg,.jpeg,.png,.gif,.bmp File</li>
                                    <li ng-show="model.fileError">Please Select File</li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal-body-no-padding">
                            <div>
                                <canvas width="200" height="200" class="center-block" id="canvas" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="298" crop-height="200" keep-aspect="true" touch-radius="30" crop-area-bounds="0"></canvas>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="file" id="fileUpload" img-cropper-fileread image="cropper.sourceImage" class="form-control required" accept=".jpg,.jpeg,.png,.gif,.bmp" />
                            <br />
                            <input type="text" class="form-control" ng-model="model.tagline" placeholder="Enter tag line..." />
                            <br />
                            <button class="btn btn-danger col-xs-12" type="button" ng-click="model.uploadSelfie(cropper.croppedImage)">Upload</button>
                            @*<button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>*@

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

