@model Egharpay.Models.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout_2.cshtml";
    ViewBag.Title = "Home";
}
<div class="wrapper wrapper-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content-image">
                        <div class="carousel slide" id="carousel1">
                            <div class="carousel-inner carosel-home-height">
                                <div class="item active">
                                    <img alt="image" class="img-responsive" src="~/Images/p_big3.jpg">
                                </div>
                                <div class="item">
                                    <img alt="image" class="img-responsive" src="~/Images/p_big1.jpg">
                                </div>
                                <div class="item ">
                                    <img alt="image" class="img-responsive" src="~/Images/p_big2.jpg">
                                </div>

                            </div>
                            <a data-slide="prev" href="#carousel1" class="left carousel-control">
                                <span class="icon-prev"></span>
                            </a>
                            <a data-slide="next" href="#carousel1" class="right carousel-control">
                                <span class="icon-next"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Device in store</h5>
                        <button class="btn btn-danger btn-xs pull-right">View All</button>
                    </div>
                    <div class="ibox-content-image">
                        <div class="carousel slide" id="carousel2">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img alt="image" class="img-responsive" src="~/Images/p_big3.jpg">
                                </div>
                                <div class="item">
                                    <img alt="image" class="img-responsive" src="~/Images/p_big1.jpg">
                                </div>
                                <div class="item ">
                                    <img alt="image" class="img-responsive" src="~/Images/p_big2.jpg">
                                </div>

                            </div>
                            <a data-slide="prev" href="#carousel2" class="left carousel-control">
                                <span class="icon-prev"></span>
                            </a>
                            <a data-slide="next" href="#carousel2" class="right carousel-control">
                                <span class="icon-next"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Top Selling Phones</h5>
                        </div>
                        <div class="ibox-content no-padding">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge badge-primary">16565656</span>
                                    Samsung
                                </li>
                                <li class="list-group-item ">
                                    <span class="badge badge-info">125665</span>
                                    Apple
                                </li>
                                <li class="list-group-item">
                                    <span class="badge badge-danger">1054565</span>
                                    Nokia
                                </li>
                                <li class="list-group-item">
                                    <span class="badge badge-success">16454650</span>
                                    Redmi
                                </li>
                                <li class="list-group-item">
                                    <span class="badge badge-warning">754566</span>
                                    On the other hand
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Top Sellers</h3>
                        <ul class="list-unstyled file-list">
                            <li><a href="" class="client-link"><i></i> Samsung</a></li>
                            <li><a href=""><i></i> Logo_zender_company.jpg</a></li>
                            <li><a href=""><i></i> Email_from_Alex.mln</a></li>
                            <li><a href=""><i></i> Contract_20_11_2014.docx</a></li>
                            <li><a href=""><i></i> Presentation.pptx</a></li>
                            <li><a href=""><i></i> 10_08_2015.docx</a></li>
                        </ul>
                    </div>
                </div>

                @*<div class="ibox">
                        <div class="ibox-content">
                            <h3>Private message</h3>

                            <p class="small">
                                Send private message to Alex Smith
                            </p>

                            <div class="form-group">
                                <label>Subject</label>
                                <input type="email" class="form-control" placeholder="Message subject">
                            </div>
                            <div class="form-group">
                                <label>Message</label>
                                <textarea class="form-control" placeholder="Your message" rows="3"></textarea>
                            </div>
                            <button class="btn btn-primary btn-block">Send</button>

                        </div>
                    </div>*@

            </div>

            <div class="col-lg-6">

                <div class="social-feed-box">

                    <div class="social-avatar">
                        <a href="" class="pull-left">
                            <img alt="image" src="/images/a6.jpg">
                        </a>
                        <div class="media-body">
                            <a href="#">
                                <h4>Andrew Williams</h4>
                            </a>
                            <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                        </div>
                    </div>
                    <div class="social-body">
                        <p>
                            Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                            default model text, and a search for 'lorem ipsum' will uncover many web sites still
                            in their infancy. Packages and web page editors now use Lorem Ipsum as their
                            default model text.
                        </p>
                        <p>
                            Lorem Ipsum as their
                            default model text, and a search for 'lorem ipsum' will uncover many web sites still
                            in their infancy. Packages and web page editors now use Lorem Ipsum as their
                            default model text.
                        </p>
                        <img src="/images/gallery/3.jpg" class="img-responsive">
                        @*<div class="btn-group">
                                <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
                                <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
                                <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>
                            </div>*@
                    </div>
                    <div class="social-footer">
                        <div class="social-comment">
                            <a href="" class="pull-left">
                                <img alt="image" src="/images/a1.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    Andrew Williams
                                </a>
                                Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                                <br>
                                <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 Like this!</a> -
                                <small class="text-muted">12.06.2014</small>
                            </div>
                        </div>

                        <div class="social-comment">
                            <a href="" class="pull-left">
                                <img alt="image" src="/images/a2.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    Andrew Williams
                                </a>
                                Making this the first true generator on the Internet. It uses a dictionary of.
                                <br>
                                <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                                <small class="text-muted">10.07.2014</small>
                            </div>
                        </div>

                        <div class="social-comment">
                            <a href="" class="pull-left">
                                <img alt="image" src="/images/a8.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    Andrew Williams
                                </a>
                                Making this the first true generator on the Internet. It uses a dictionary of.
                                <br>
                                <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                                <small class="text-muted">10.07.2014</small>
                            </div>
                        </div>

                        <div class="social-comment">
                            <a href="" class="pull-left">
                                <img alt="image" src="/images/a3.jpg">
                            </a>
                            <div class="media-body">
                                <textarea class="form-control" placeholder="Write comment..."></textarea>
                                <button class="btn btn-warning btn-xs pull-right btn-comment"> Comment</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Which phone you bought.</h5>
                    </div>
                    <div class="ibox-content-image">
                        <div class="carousel slide" id="carousel3">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img alt="image" class="img-responsive" src="~/Images/p_big3.jpg">
                                </div>
                                <div class="item">
                                    <img alt="image" class="img-responsive" src="~/Images/p_big1.jpg">
                                </div>
                                <div class="item ">
                                    <img alt="image" class="img-responsive" src="~/Images/p_big2.jpg">
                                </div>

                            </div>
                            <a data-slide="prev" href="#carousel3" class="left carousel-control">
                                <span class="icon-prev"></span>
                            </a>
                            <a data-slide="next" href="#carousel3" class="right carousel-control">
                                <span class="icon-next"></span>
                            </a>
                        </div>
                        <div class="xs-mt-10">
                            <button class="btn btn-danger col-lg-12">Upload Image</button>
                            <br />
                        </div>
                    </div>
                </div>

                <div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-content-image-static">
                            <div>
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img alt="image" class="img-responsive" src="~/Images/p_big3.jpg">
                                        <div class="carousel-caption">
                                            <p>Samsung s8....</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-content-image-static">
                            <div>
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img alt="image" class="img-responsive" src="~/Images/p_big3.jpg">
                                        <div class="carousel-caption">
                                            <p>Apple....</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-content-image-static">
                            <div>
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img alt="image" class="img-responsive" src="~/Images/p_big3.jpg">
                                        <div class="carousel-caption">
                                            <p>New nokia 6....</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



