@using Egharpay.Extensions;
@{
    var layout = User.IsSuperUserOrAdminOrSeller() ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_Layout_2.cshtml";
    Layout = layout;
    ViewBag.Title = "Index";
}
<br />
<div ng-controller="BrandController as model" ng-init="model.initialise()" ng-show="model.brands.length > 0">
    <div class="row">
        <div class="col-lg-12">
            <h3>
                Brands
            </h3>
        </div>
    </div>
    <br />
    <div class="ibox-content-brand-search">
        <div class="row m-b-sm m-t-sm">
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" placeholder="Search brand.." class="input-sm form-control" ng-model="searchField" ng-keyup="$event.keyCode == 13 && model.searchBrand(searchField)"> <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary" ng-click="model.searchBrand(searchField)"> Go!</button>
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <label class="btn btn-w-m btn-warning">
                    <input id="checkboxTopBrand" type="checkbox" autocomplete="off" class="ng-pristine ng-untouched ng-valid ng-empty" ng-click="model.retrieveTopSellingBrands()">
                    Top Selling Brands.
                </label>
            </div>
            <div class="project-list">
            </div>
        </div>
        <div class="row m-b-sm m-t-sm">
            <div class="col-md-3 form-inline">
                @*@Html.Partial("Pagination/_pageSize")*@
            </div>
            <div class="col-md-9 text-right">
                @*@Html.Partial("Pagination/_pageInformation")*@
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3" ng-controller="MobileController as model" ng-init="model.retrieveMobilesInStore()">
            <div class="ibox float-e-margins" id="deviceinstore">
                <div class="ibox-title">
                    <h5>Device in store</h5>
                    <button class="btn btn-danger btn-xs pull-right">View All</button>
                </div>
                <div class="ibox-content-image">
                    <div class="carousel slide" id="carousel2">
                        <div class="carousel-inner">
                            <div class="item" ng-class='{active: $first}' ng-repeat="mobile in model.mobilesInStore">
                                <img alt="image" class="img-responsive" src="~/Images/p_big1.jpg">
                            </div>
                        </div>
                        <a data-slide="prev" href="#carousel2" class="left carousel-control">
                            <span class="icon-prev"></span>
                        </a>
                        <a data-slide="next" href="#carousel2" class="right carousel-control">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div id="topsellingphone">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Top Selling Phones</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge badge-primary">16565656</span>
                                Samsung
                            </li>
                            <li class="list-group-item ">
                                <span class="badge badge-info">125665</span>
                                Apple
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-danger">1054565</span>
                                Nokia
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-success">16454650</span>
                                Redmi
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-warning">754566</span>
                                On the other hand
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ibox" id="topseller">
                <div class="ibox-content">
                    <h3>Top Sellers</h3>
                    <ul class="list-unstyled file-list">
                        <li><a href="" class="client-link"><i></i> Samsung</a></li>
                        <li><a href=""><i></i> Logo_zender_company.jpg</a></li>
                        <li><a href=""><i></i> Email_from_Alex.mln</a></li>
                        <li><a href=""><i></i> Contract_20_11_2014.docx</a></li>
                        <li><a href=""><i></i> Presentation.pptx</a></li>
                        <li><a href=""><i></i> 10_08_2015.docx</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-9" ng-cloak>
            <div class="col-md-3" ng-repeat="brand in model.brands">
                <button class="btn btn-default dim btn-brand" ng-click="model.brandMobileLocation(brand.BrandId,brand.Name)">
                    <div class="row">
                        <div class="col-lg-12">
                            <img class="img-brand" ng-src="{{brand.ImagePath | trustAsResourceUrl}}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12"><span class="brand-name" ng-bind="brand.Name"></span></div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
