
@{
    ViewBag.Title = "Brand";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>E-commerce grid</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li>
                <a>E-commerce</a>
            </li>
            <li class="active">
                <strong>Products grid</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-default dim btn-brand" type="button">
                <div class="row">
                    <div class="col-lg-12"><img class="img-brand" src="~/Images/samsung_brand.png" /></div>
                </div>
                <div class="row">
                    <div class="col-lg-12"><span class="brand-name">Samsung</span></div>
                </div>

            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-default dim btn-brand" type="button">
                <div class="row">
                    <div class="col-lg-12"><img class="img-brand" src="~/Images/samsung_brand.png" /></div>
                </div>
                <div class="row">
                    <div class="col-lg-12"><span class="brand-name">Samsung</span></div>
                </div>

            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-default dim btn-brand" type="button">
                <div class="row">
                    <div class="col-lg-12"><img class="img-brand" src="~/Images/samsung_brand.png" /></div>
                </div>
                <div class="row">
                    <div class="col-lg-12"><span class="brand-name">Samsung</span></div>
                </div>

            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-default dim btn-brand" type="button">
                <div class="row">
                    <div class="col-lg-12"><img class="img-brand" src="~/Images/samsung_brand.png" /></div>
                </div>
                <div class="row">
                    <div class="col-lg-12"><span class="brand-name">Samsung</span></div>
                </div>

            </button>
        </div>
    </div>
    @*<div class="row">
        <div class="col-md-3">
            <button class="btn btn-default dim btn-large-dim btn-brand" type="button">
                <div class="row">
                    <div class="col-lg-12"><img class="img-brand" src="~/Images/samsung_brand.png" /></div>
                </div>
                <div class="row">
                    <div class="col-lg-12"><span class="brand-name">Samsung</span></div>
                </div>

            </button>

        </div>
        <div class="col-md-3">
            <button class="btn btn-default dim btn-large-dim btn-brand" type="button">
                <div class="row">
                    <div class="col-lg-12"><img class="img-brand" src="~/Images/samsung_brand.png" /></div>
                </div>
                <div class="row">
                    <div class="col-lg-12"><span class="brand-name">Samsung</span></div>
                </div>

            </button>

        </div>
        <div class="col-md-3">
            <button class="btn btn-default dim btn-large-dim btn-brand" type="button">
                <div class="row">
                    <div class="col-lg-12"><img class="img-brand" src="~/Images/samsung_brand.png" /></div>
                </div>
                <div class="row">
                    <div class="col-lg-12"><span class="brand-name">Samsung</span></div>
                </div>

            </button>

        </div>
        <div class="col-md-3">
            <button class="btn btn-default dim btn-large-dim btn-brand" type="button">
                <div class="row">
                    <div class="col-lg-12"><img class="img-brand" src="~/Images/samsung_brand.png" /></div>
                </div>
                <div class="row">
                    <div class="col-lg-12"><span class="brand-name">Samsung</span></div>
                </div>

            </button>

        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-default dim btn-large-dim btn-brand" type="button">
                <div class="row">
                    <div class="col-lg-12"><img class="img-brand" src="~/Images/samsung_brand.png" /></div>
                </div>
                <div class="row">
                    <div class="col-lg-12"><span class="brand-name">Samsung</span></div>
                </div>

            </button>

        </div>
        <div class="col-md-3">
            <button class="btn btn-default dim btn-large-dim btn-brand" type="button">
                <div class="row">
                    <div class="col-lg-12"><img class="img-brand" src="~/Images/samsung_brand.png" /></div>
                </div>
                <div class="row">
                    <div class="col-lg-12"><span class="brand-name">Samsung</span></div>
                </div>

            </button>

        </div>
        <div class="col-md-3">
            <button class="btn btn-default dim btn-large-dim btn-brand" type="button">
                <div class="row">
                    <div class="col-lg-12"><img class="img-brand" src="~/Images/samsung_brand.png" /></div>
                </div>
                <div class="row">
                    <div class="col-lg-12"><span class="brand-name">Samsung</span></div>
                </div>

            </button>

        </div>
        <div class="col-md-3">
            <button class="btn btn-default dim btn-large-dim btn-brand" type="button">
                <div class="row">
                    <div class="col-lg-12"><img class="img-brand" src="~/Images/samsung_brand.png" /></div>
                </div>
                <div class="row">
                    <div class="col-lg-12"><span class="brand-name">Samsung</span></div>
                </div>

            </button>

        </div>
    </div>*@
</div>

