<div id="tab-2" class="tab-pane">
    <div class="panel-body" ng-controller="MobileGalleryController as model" ng-init="model.retrieveGalleryImages('@Model.MobileId')">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="lightBoxGallery">
                    <a ng-repeat="mobileGallery in model.galleryImages" href="{{mobileGallery.ImagePath}}" title="Image from Unsplash" data-gallery="">
                        <img ng-src="{{mobileGallery.ImagePath}}">
                        @*<img src="~/MobileImage/Acer/Acer Allegro/Acer-Allegro_5.jpg" />*@
                    </a>
                    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                    <div id="blueimp-gallery" class="blueimp-gallery">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

