@model Egharpay.Models.MobileViewModel
<div id="tab-5" class="tab-pane xs-mt-10">
    <div class="row">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h2>Sellers available in your area.</h2>
                        </div>

                        <div class="ibox-content">
                            <div class="row">
                                <div class="alert alert-danger alert-dismissable">
                                    <span><i class="fa fa-map-marker"></i></span>
                                    Your current location :
                                    <span us-spinner spinner-key="locationSpinner" spinner-start-active="true" spinner-theme="smallRed"></span>
                                    <span ng-bind="model.currentAddress"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <input type="text" placeholder="Search Seller eg. Name,Pincode" id="txtSearchPincode" ng-model="searchField" ng-keyup="$event.keyCode == 13 && model.searchSeller(searchField)" class="input-sm form-control">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-danger" ng-click="model.searchSeller(searchField)"> Go!</button>
                                    </span>
                                </div>
                                <a ng-click="model.addPincode();" id="findZipCode">Get pincode.</a>
                            </div>
                            <div class="row xs-mt-8" ng-if="model.isOrderPlacedSuccess">
                                <div class="alert alert-success alert-dismissable">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    Order placed successfully. Seller will contact you soon for best deal and product will be delivered on prefered location.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="xs-mt-8">
                    <div class="ibox" ng-repeat="seller in model.sellers">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-3">
                                    <h4>
                                        <strong>Seller Name</strong>
                                    </h4>
                                </div>
                                <div class="col-lg-6">
                                    <span ng-bind="seller.SellerName"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <h4>
                                        <strong>Seller Address</strong>
                                    </h4>
                                </div>
                                <div class="col-lg-6">
                                    <span ng-bind="seller.SellerAddress"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <h4>
                                        <strong>Seller Price</strong>
                                    </h4>
                                </div>
                                <div class="col-lg-6">
                                    <label class="btn btn-warning btn-xs"><strong><i class="fa fa-rupee"></i> <span ng-bind="seller.Price"></span> </strong> </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <h4>
                                        <strong>Seller Distance</strong>
                                    </h4>
                                </div>
                                <div class="col-lg-6">
                                    <span ng-bind="seller.SellerDistance"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <h4>
                                        <strong></strong>
                                    </h4>
                                </div>
                                @if (User.Identity.IsAuthenticated && Model.Personnel != null)
                                {
                                    <a class="btn btn-danger" ng-bootbox-confirm="Seller will contact you on @Model.Personnel.Mobile" ng-bootbox-confirm-action="model.requestOrder(@Model.MobileId,seller.SellerId,true)" ng-bootbox-confirm-action-cancel="">
                                        Request Deal
                                    </a>
                                }
                                else
                                {
                                    <a href="/Account/Login" class="btn btn-danger"> Request Deal</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="xs-mt-8" ng-if="model.sellers.length<=0">
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                No seller available. Change pincode and search again.
            </div>
        </div>

        <div class="xs-mt-8" ng-if="model.sellers.length>0">
            @Html.Partial("Pagination/_pagination")
        </div>

        <div class="row">
            @Html.Partial("_Address")
        </div>
    </div>
</div>


