<div id="tab-3" class="tab-pane">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">

                    <div class="ibox-content-video">
                        <figure>
                            <iframe src="http://www.youtube.com/embed/bwj2s_5e12U" frameborder="0" allowfullscreen="" data-aspectratio="0.8211764705882353" style="width: 410px; height: 270px;"></iframe>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-content profile-content">
                        <h4><strong><a>Microsoft's Concept of How 2019 Will Look Like - Official Video</a> </strong></h4>
                        <p><i class="fa fa-clock-o"></i> Uploaded on October 27, 2011</p>
                        <p>
                            What do you think the world will look like in 2019? Predicting future trends is usually done poorly by Analysts so company's seem to want to give consumer a glimpse of what
                            they want the future to look like.
                            was released and now we have "Productivity Future Vision (2011)". Both are inspiring and beautifully edited.
                            What do you think the world will look like in 2019? Predicting future trends is usually done poorly by Analysts so company's seem to want to give consumer a glimpse of what
                            they want the future to look like.
                            was released
                        </p>
                        <div class="row m-t-md">
                            <div class="col-md-3">
                                <h5><strong>169</strong> Likes</h5>
                            </div>
                            <div class="col-md-9">
                                <h5><strong>28</strong> Comments</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">

                    <div class="ibox-content-video">
                        <figure>
                            <iframe src="http://www.youtube.com/embed/bwj2s_5e12U" frameborder="0" allowfullscreen="" data-aspectratio="0.8211764705882353" style="width: 410px; height: 270px;"></iframe>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-content profile-content">
                        <h4><strong><a>Microsoft's Concept of How 2019 Will Look Like - Official Video</a> </strong></h4>
                        <p><i class="fa fa-clock-o"></i> Uploaded on October 27, 2011</p>
                        <p>
                            What do you think the world will look like in 2019? Predicting future trends is usually done poorly by Analysts so company's seem to want to give consumer a glimpse of what
                            they want the future to look like.
                            was released and now we have "Productivity Future Vision (2011)". Both are inspiring and beautifully edited.
                            What do you think the world will look like in 2019? Predicting future trends is usually done poorly by Analysts so company's seem to want to give consumer a glimpse of what
                            they want the future to look like.
                            was released
                        </p>
                        <div class="row m-t-md">
                            <div class="col-md-3">
                                <h5><strong>169</strong> Likes</h5>
                            </div>
                            <div class="col-md-9">
                                <h5><strong>28</strong> Comments</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">

                    <div class="ibox-content-video">
                        <figure>
                            <iframe src="http://www.youtube.com/embed/bwj2s_5e12U" frameborder="0" allowfullscreen="" data-aspectratio="0.8211764705882353" style="width: 410px; height: 270px;"></iframe>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-content profile-content">
                        <h4><strong><a>Microsoft's Concept of How 2019 Will Look Like - Official Video</a> </strong></h4>
                        <p><i class="fa fa-clock-o"></i> Uploaded on October 27, 2011</p>
                        <p>
                            What do you think the world will look like in 2019? Predicting future trends is usually done poorly by Analysts so company's seem to want to give consumer a glimpse of what
                            they want the future to look like.
                            was released and now we have "Productivity Future Vision (2011)". Both are inspiring and beautifully edited.
                            What do you think the world will look like in 2019? Predicting future trends is usually done poorly by Analysts so company's seem to want to give consumer a glimpse of what
                            they want the future to look like.
                            was released
                        </p>
                        <div class="row m-t-md">
                            <div class="col-md-3">
                                <h5><strong>169</strong> Likes</h5>
                            </div>
                            <div class="col-md-9">
                                <h5><strong>28</strong> Comments</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

