<div id="tab-3" class="tab-pane">
    <div class="panel-body"ng-controller="YouTubeController as model" ng-init="model.search('@Model.MobileName')">
        <div class="row" ng-repeat="youtube in model.YouTubes">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">

                    <div class="ibox-content-video">
                        <figure>
                            <iframe ng-src="{{youtube.URL | trustAsResourceUrl}}" frameborder="0" allowfullscreen="" data-aspectratio="0.8211764705882353" style="width: 375px; height:300px;"></iframe>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-content profile-content">
                        <h4><strong><a><span ng-bind="youtube.Title"></span></a> </strong></h4>
                        <p><i class="fa fa-clock-o"></i> Uploaded on October 27, 2011</p>
                        <p ng-bind="youtube.Description"></p>
                        <div class="row m-t-md">
                            <div class="col-md-3">
                                <h5><strong>169</strong> Likes</h5>
                            </div>
                            <div class="col-md-9">
                                <h5><strong>28</strong> Comments</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>

