@model Egharpay.Models.MobileRepairViewModel
<div id="tab-2" class="tab-pane xs-mt-10" ng-init="model.searchBrand()">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox float-e-margins">
                        <div class="row">
                            <div class="col-lg-6">
                                <ui-select single ng-model="brand.Name" ng-change="model.brandSelected(brand)">
                                    <ui-select-match placeholder="Select brand..."><span ng-bind-html="$item.Name"></span></ui-select-match>
                                    <ui-select-choices repeat="brand.BrandId as brand in model.brands | filter:$select.search" class="form-control">
                                        <span ng-bind-html="brand.Name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="row">
                            <ui-select ng-model="mobile.Name" ng-change="model.calculateRepairFee(brand)">
                                <ui-select-match placeholder="Select mobile...">{{mobile.Name}}</ui-select-match>
                                <ui-select-choices repeat="mobile.Name as mobile in model.mobiles | filter:$select.search" class="form-control">
                                    <span ng-bind-html="mobile.Name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  