@model Egharpay.Models.MobileRepairViewModel
<div id="tab-2" class="tab-pane xs-mt-10" ng-init="model.searchBrand()">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox float-e-margins">
                        <div class="row">
                            <div class="col-lg-6">
                                <ui-select ng-model="brand.Name" ng-change="model.brandSelected(brand.Name)">
                                    <ui-select-match placeholder="Select brand..."><span ng-bind-html="brand.Name.Name"></span></ui-select-match>
                                    <ui-select-choices repeat="brand in model.brands | filter:$select.search" class="form-control">
                                        <span ng-bind-html="brand.Name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="row" ng-if="model.mobiles.length!=0">
                            <div class="col-lg-6">
                                <ui-select ng-model="mobile.Name" ng-change="model.calculateRepairFee(mobile.Name)">
                                    <ui-select-match placeholder="Select mobile...">{{mobile.Name.Name}}</ui-select-match>
                                    <ui-select-choices repeat="mobile in model.mobiles | filter:$select.search" class="form-control">
                                        <span ng-bind-html="mobile.Name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="row" ng-if="model.mobileFees.length!=0">
                            <div class="col-lg-6">
                                <div class="alert alert-danger xs-mt-10">
                                    <b>Total Repairing Fee :</b><span class="label label-danger pull-right font-18 ng-binding"><i class="fa fa-rupee"></i> {{model.TotalPrice}}</span><b></b>.
                                </div>
                            </div>
                        </div>
                        <div class="full-height-scroll">
                            <div class="row " ng-if="model.mobileFees.length!=0">
                                <div class="col-lg-6">
                                    <ul class="todo-list m-t small-list" ng-repeat="mobileFee in model.mobileFees">
                                        <li>
                                                <input type="checkbox" checklist-model="model.mobileFeesSelected" checklist-value="mobileFee" ng-change="model.addPrice(mobileFee,checked)">
                                                {{mobileFee.MobileFaultName}}
                                                <span class="label label-danger pull-right font-18"><i class="fa fa-rupee"></i> {{mobileFee.Amount}}</span>
                                        </li>
                                    </ul>
                                    <label>{{mobileFee}}</label>
                                </div>
                            </div>
                        </div>
                       
                        <div class="row" ng-show="model.showFeeMessage">
                            <div class="col-lg-6">
                                <div class="alert alert-danger xs-mt-10">
                                    <b>Repairing fee unavailable.Register your number to get fee details.</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  