@using Egharpay.Extensions
@model Egharpay.Models.MobileRepairViewModel
@{
    var layout = User.IsSuperUserOrAdminOrSeller() ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_Layout_2.cshtml";
    Layout = layout;
    ViewBag.Title = "Repair Mobile";

}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Repair Mobile<small> repair phone online</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>
                                <label class="btn btn-primary">Offers</label> We have offer for you
                            </h3>
                            <p>Apply coupon</p>
                            <p class="text-center">
                                <div class="alert alert-success">
                                    <ul>
                                        <li>
                                            How quickly daft jumping zebras vex. <a class="alert-link" href="#">Alert Link</a>.
                                        </li>
                                        <li>
                                            How quickly daft jumping zebras vex. <a class="alert-link" href="#">Alert Link</a>.
                                        </li>
                                    </ul>

                                </div>
                            </p>
                        </div>
                        <div class="col-sm-6 b-r">
                            <p>Enter your details.</p>
                            @using (Html.BeginForm(new { @class = "ng-pristine ng-valid" }))
                            {
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control", @placeholder = "Mobile Number" })
                                </div>
                                <div class="form-group" ng-if="model.isOtpCreated">
                                    @Html.TextBoxFor(m => m.OTP, new { @class = "form-control", @placeholder = "OTP" })
                                </div>
                                <div class="form-group" ng-if="model.isOtpCreated">
                                    @Html.TextBoxFor(m => m.CouponCode, new { @class = "form-control", @placeholder = "Coupon Code" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.ModelName, new { @class = "form-control", @placeholder = "Model Name" })
                                </div>
                                <div>
                                    <button class="btn btn-primary pull-right col-xs-12" type="button"><strong>Next</strong></button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
