
@{
    ViewBag.Title = "Trend";
}

<div ng-controller="TrendController as model" ng-init="model.initialise()">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Trend</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a>Extra Pages</a>
                </li>
                <li class="active">
                    <strong>Profile</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-5" ng-repeat="trend in model.trends">
                <div class="social-feed-box">
                    <div class="pull-right social-action dropdown">
                        <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu m-t-xs">
                            <li><a href="#">Config</a></li>
                        </ul>
                    </div>
                    <div class="social-avatar">
                        <a href="" class="pull-left">
                            <img src="~/Images/vijay.jpg" />
                        </a>
                        <div class="media-body">
                            <a ng-href="/Trend/Detail/{{trend.TrendId}}">
                                <span ng-bind="trend.Name"></span>
                            </a>
                            <small class="text-muted">{{trend.CreatedDateTime}}</small>
                        </div>
                    </div>
                    <div class="social-body">
                        <p>
                            <span ng-bind="trend.ShortDescription"></span>
                        </p>
                        <img src="~/Images/Nokia 6.jpg" class="img-responsive">
                        <div class="btn-group">
                            <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
                            <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
                            <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>
                        </div>
                        <div class="social-comment">
                            <a href="" class="pull-left">
                                <img alt="image" src="#">
                            </a>
                            <div class="media-body">
                                <textarea ng-id="trend.TrendId" class="form-control" placeholder="Write comment..." ng-model="model.trendComment"></textarea>
                            </div>
                            <br />
                            <button id="submit" type="submit" class="btn btn-success" ng-click="model.createTrendComment(trend.TrendId,model.trendComment)">Submit</button>
                            @*<a class="btn btn-sm btn-info" ng-click="model.createTrendComment(trend.TrendId,model.trendComment)">Post</a>*@
                            @*<div class="form-group">
                                    <div class="pull-right">
                                        <button id="submit" type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>*@
                        </div>

                    </div>
                    @*<div class="social-footer">
                            <div class="social-comment">
                                <a href="" class="pull-left">
                                    <img src="~/Images/shraddha.jpg" />
                                </a>
                                <div class="media-body">
                                    <a href="#">
                                        Shraddha Paradkar
                                    </a>
                                    Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                                    <br>
                                    <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 Like this!</a> -
                                    <small class="text-muted">12.06.2014</small>
                                </div>
                            </div>

                            <div class="social-comment">
                                <a href="" class="pull-left">
                                    <img alt="image" src="img/a2.jpg">
                                </a>
                                <div class="media-body">
                                    <a href="#">
                                        Andrew Williams
                                    </a>
                                    Making this the first true generator on the Internet. It uses a dictionary of.
                                    <br>
                                    <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                                    <small class="text-muted">10.07.2014</small>
                                </div>
                            </div>

                            <div class="social-comment">
                                <a href="" class="pull-left">
                                    <img alt="image" src="img/a3.jpg">
                                </a>
                                <div class="media-body">
                                    <textarea class="form-control" placeholder="Write comment..."></textarea>
                                </div>
                            </div>

                        </div>*@

                </div>

            </div>


        </div>

    </div>
</div>

