<div id="documentDiv">
    <div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            Home Banner Documents<small></small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30">
                        </p>
                        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                        <thead>
                                        <tr role="row">
                                            <th>Avatar</th>
                                            <th ng-click="model.order('Description')" ng-class="model.orderClass('Description')">Description</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="documentsType in model.homeBannerImageList" class="odd gradeX">
                                            <td><span ng-cloak class="ng-cloak"><img class="chat-avatar" ng-src="{{ documentsType.RelativePath || '/Images/a4.jpg' }}" alt="Avatar" title="avatar"></span><br/></td>
                                            <td><span ng-bind="documentsType.Description"></span></td>
                                            <td>
                                                <a style="cursor: pointer;" ng-click="model.deleteHomeBannerImageDocument(documentsType.DocumentGuid)" class="btn btn-success btn-xs">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label ng-bind="model.searchMessage"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="modal fade" id="HomeBannerImageModal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="avatar-form" enctype="multipart/form-data" method="post">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                        <h4 class="modal-title" id="avatar-modal-label">Upload Home Banner Image</h4>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-9">
                                <button class="btn btn-primary" type="button" ng-click="model.uploadPhoto(cropper.croppedImage)">Upload</button>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
                            </div>
                        </div>
                        <br />
                        <div ng-show="model.imageUploadError" class="validation-summary-errors alert alert-danger col-lg-12 col-xs-12 col-sm-10">
                            <ul>
                                <li ng-show="model.fileFormatError">Please Upload .jpg,.jpeg,.png,.gif,.bmp File</li>
                                <li ng-show="model.fileError">Please Select File</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div>
                            <canvas width="800" height="400" class="center-block" id="canvas" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="1400" crop-height="400" keep-aspect="true" touch-radius="30" crop-area-bounds="0"></canvas>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="file" id="fileUpload" img-cropper-fileread image="cropper.sourceImage" class="form-control required" accept=".jpg,.jpeg,.png,.gif,.bmp" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>