@using Egharpay.Extensions
@{
    ViewBag.Title = "Seller Order";
}
<div ng-controller="SellerOrderController as model" ng-init="model.retrieveSellerOrders()">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>E-commerce shoping cart</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a>Order</a>
                </li>
                <li class="active">
                    <strong>Order Request</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <span class="pull-right">(<strong>{{model.sellerOrders.length}}</strong>) items</span>
                        <h5>Items in your cart</h5>
                    </div>
                    <div class="ibox-content" ng-repeat="order in model.sellerOrders">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>
                                    <tr>
                                        <td width="90">
                                            <div class="cart-product-imitation">
                                            </div>
                                        </td>
                                        <td class="desc">
                                            <h3>
                                                <a href="#" class="text-navy">
                                                    {{order.MobileName}}
                                                </a>
                                            </h3>

                                            <dl class="small m-b-none">
                                                <dt>Order Date : {{order.OrderCreatedDate|date : format : shortDate}}</dt>
                                                <dt>Seller Name : {{order.SellerName}}</dt>
                                            </dl>
                                            @*<div class="m-t-sm">
                                                    <button class="btn btn-warning pull-right"><i class="fa fa-times-rectangle"></i> Cancel Order</button>
                                                </div>*@
                                        </td>
                                        <td>
                                            <h4>
                                                <button type="button" class="btn btn-info btn-sm">{{order.RequestTypeName}}</button>
                                            </h4>
                                            <button type="button" class="btn btn-warning pull-right" ng-click="model.updateSellerOrder(order.OrderId)" ng-if="order.RequestTypeName !='Cancelled'"><i class="fa fa-times-rectangle"></i> Cancel Order</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @*<div class="ibox-content">
                            <button class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i> Checkout</button>
                            <button class="btn btn-white"><i class="fa fa-arrow-left"></i> Continue shopping</button>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>