@using Egharpay.Extensions
@{
    ViewBag.Title = "Seller Order";
}
<div ng-cloak ng-controller="SellerOrderController as model" ng-init="model.retrieveSellerOrders()">
    @*For Buyer*@
    @if (User.IsInAnyRoles("Personnel"))
    {
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Orders</h2>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">

                <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <span class="pull-right">(<strong>{{model.sellerOrders.length}}</strong>) items</span>
                            <h5>Your Request</h5>
                        </div>
                        <div class="ibox-content" ng-repeat="order in model.sellerOrders">
                            <div class="table-responsive">
                                <table class="table shoping-cart-table">
                                    <tbody>
                                        <tr>
                                            <td width="90">
                                                <div class="cart-product-imitation">
                                                </div>
                                            </td>
                                            <td class="desc">
                                                <h3>
                                                    <a href="#" class="text-navy">
                                                        {{order.MobileName}}
                                                    </a>
                                                </h3>

                                                <dl class="small m-b-none">
                                                    <dt>Order Date : {{order.OrderCreatedDate|date : format : shortDate}}</dt>
                                                    <dt>Seller Name : {{order.SellerName}}</dt>
                                                </dl>
                                                @*<div class="m-t-sm">
                                                        <button class="btn btn-warning pull-right"><i class="fa fa-times-rectangle"></i> Cancel Order</button>
                                                    </div>*@
                                            </td>
                                            <td>
                                                <h4>
                                                    <button type="button" class="btn btn-info btn-sm">{{order.OrderStateName}}</button>
                                                </h4>
                                                <button type="button" class="btn btn-warning pull-right" ng-click="model.updateSellerOrder(order.OrderId)" ng-if="order.OrderStateName !='Cancelled'"><i class="fa fa-times-rectangle"></i> Cancel Order</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @*<div class="ibox-content">
                                <button class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i> Checkout</button>
                                <button class="btn btn-white"><i class="fa fa-arrow-left"></i> Continue shopping</button>
                            </div>*@
                    </div>
                </div>

            </div>
        </div>
    }

    @*For Seller*@
    @if (User.IsSuperUser() || User.IsSeller())
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="">
                    <div class="">
                        <h2>
                            Orders <small></small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div ng-if="model.sellerOrders.length >0">
                        <p class="text-muted font-13 m-b-30">
                        </p>
                        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        @Html.Partial("Pagination/_pageSize")
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <table wt-responsive-table class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                                <thead>
                                                <tr role="row">
                                                    <th ng-click="model.order('OrderCreatedDate')" ng-class="model.orderClass('OrderCreatedDate')">Order Created Date</th>
                                                    <th ng-click="model.order('BuyersName')" ng-class="model.orderClass('BuyersName')">Buyers Name</th>
                                                    <th ng-click="model.order('MobileName')" ng-class="model.orderClass('MobileName')">Mobile</th>
                                                    <th ng-click="model.order('OrderState')" ng-class="model.orderClass('OrderState')">Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="seller in model.sellerOrders" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled">
                                                    <td><span ng-bind="seller.OrderCreatedDate | date:'dd/MM/yyyy'"></span></td>
                                                    <td><span ng-bind="seller.BuyersName"></span></td>
                                                    <td><span ng-bind="seller.MobileName"></span></td>
                                                    <td><span ng-bind="seller.OrderState"></span></td>
                                                    <td>
                                                        <div class="btn-group pull-right">
                                                            <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true">
                                                                <i class="fa fa-chevron-down"></i>
                                                            </a>
                                                            <ul class="dropdown-menu slidedown">
                                                                <li>
                                                                    <a style="cursor: pointer;" ng-click="model.updateSellerOrder(seller.OrderId)">
                                                                        Cancel Order
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/Orders/{{seller.OrderId}}/Edit">
                                                                        Edit
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                @Html.Partial("Pagination/_pagination")
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label ng-bind="model.searchMessage"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="!model.sellerOrders.length >0" class="ibox-content">
            <p> No records found.</p>
        </div>
    }

</div>