@using Egharpay.Extensions
@{
    ViewBag.Title = "Seller Order";
}
<div ng-cloak ng-controller="SellerOrderController as model" ng-init="model.retrieveSellerOrders()">
   
    @if (User.IsInAnyRoles("Personnel"))
    {
        @Html.Partial("_PersonnelOrder")
    }

    @if (User.IsSuperUserOrAdminOrSeller())
    {
       @Html.Partial("_SellerOrder")
    }
</div>