
@{
    ViewBag.Title = "Trend Comment";
}

<div ng-controller="TrendCommentController as model" ng-init="model.initialise()">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Trend Comments <small></small>
            </h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" ng-model="searchField" ng-keyup="$event.keyCode == 13 && model.searchTrendComment(searchField)" class="form-control" placeholder="Search for Trend Comment...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="model.searchTrendComment(searchField)" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    @*@if (User.IsInAnyRoles("Admin"))
        {
            <div class="row">
                <div class="col-xs-12">
                    <a class="btn btn-app" href="@Url.Action("Create", "Subject")">
                        <i class="fa fa-user"></i> Create
                    </a>
                </div>
            </div>
        }*@
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    @*<h2>
                        Subjects <small></small>
                    </h2>*@
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("Pagination/_pageSize")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                    <tr role="row">
                                        <th ng-click="model.order('TrendId')" ng-class="model.orderClass('TrendId')">Trend Name</th>
                                        <th ng-click="model.order('Comment')" ng-class="model.orderClass('Comment')">Comment</th>
                                        <th>Approved</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="trendComment in model.trendComments" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled || model.editTrendComment(trendComment.TrendCommentId)">
                                        <td><span ng-bind="trendComment.Trend.Name"></span></td>
                                        <td><span ng-bind="trendComment.Comment"></span></td>
                                        <td class="col-lg-1">
                                            <button ng-if="!trendComment.Approve" type="button" class="btn btn-danger btn-rounded btn-xs">No</button>
                                            <button ng-if="trendComment.Approve" type="button" class="btn btn-primary btn-rounded btn-xs">Yes</button>
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true">
                                                    <i class="fa fa-chevron-down"></i>
                                                </a>
                                                <ul class="dropdown-menu slidedown">
                                                    <li ng-if="!trendComment.Approve">
                                                        <a style="cursor: pointer;" ng-click="model.approve(trendComment.TrendCommentId)">
                                                            Approve
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("Pagination/_pagination")
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label ng-bind="model.searchMessage"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>