<div class="footer web-footer">
    <div class="pull-right">
        About Us
    </div>
    <div>
        <strong>Copyright</strong> Prajapati Technology Pvt Ltd &copy; 2017 - 2018
    </div>
</div>

@if ((string)HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"] != "MobileRepair")
{
    <div class="footer navbar-fixed-bottom mobile-footer">
        <div class="row">
            <div class="col-lg-12">
                <a class="btn btn-block btn-danger">Repair Mobile</a>
            </div>
        </div>
    </div>
}
