@using Egharpay.Extensions
<div class="footer web-footer">
    <div class="pull-right">
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.mumbile.mumbileapp">
            <img class="google-play-icon" src="~/Images/Google-Play.png" />   
        </a>
       
        @Html.ActionLink("About Us", "About", "Home")
    </div>
    <div class="xs-mt-10">
        <strong>Copyright</strong> Prajapati Technologies Pvt Ltd &copy; 2017 - 2018
    </div>
</div>

@if ((string)HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"] != "MobileRepair")
{
    if (!(User.IsSuperUserOrAdminOrSeller() || User.IsMobileRepairAdmin()))
    {
        <div class="footer navbar-fixed-bottom mobile-footer">
            <div class="row">
                <div class="col-lg-12">
                    <a ng-href="/MobileRepair" class="btn btn-block btn-danger">Repair Mobile</a>
                </div>
            </div>
        </div>
    }
}
