

<div class="col-md-3" ng-repeat="mobile in model.mobiles">
    <a ng-href="/Mobile/Detail/{{mobile.SeoUrl}}">
        <div class="ibox">
            <div class="ibox-content product-box">
                <div class="product-imitation-mobile">
                    @*<img class="image img-mobile-profile" ng-src="mobile.ProfileImagePath" />*@
                    @*<img class="image img-mobile-profile" src="~/MobileImage/Acer/Acer Allegro/acer-allego.jpg"/>*@
                    <img class="image img-mobile-profile" src="{{mobile.ProfileImagePath}}" />

                </div>
                <div class="product-desc-mobile">
                    <span class="product-price">
                        ₹ 0.
                    </span>
                    @* <small class="text-muted"><span class="label label-info pull-left">Active</span></small>*@
                    <br />
                    <a ng-href="/Mobile/Detail/{{mobile.SeoUrl}}" class="product-name"><strong ng-bind="mobile.Name"></strong></a>
                    <div class="small m-t-xs">
                        <span ng-bind="mobile.ProfileImagePath"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="m-t text-left">
                                @*<a ng-href="/Mobile/Detail/{{mobile.SeoUrl}}" class="btn btn-xs btn-outline btn-primary">Buy <i class="fa fa-long-arrow-right"></i> </a>*@
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="m-t text-right">
                                <a ng-href="/Mobile/Detail/{{mobile.SeoUrl}}" class="btn btn-xs btn-outline btn-warning">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>

<div ng-cloak ng-if="model.mobiles.length ==0 && model.searchMessage == 'No Records Found'">
    <div class="ibox float-e-margins col-sm-8">
        <div class="ibox-content">
            <div class="row">
                <div class="text-center">
                    <h1><span ng-bind="model.searchMessage"></span></h1>
                </div>
            </div>
        </div>
    </div>
</div>
