@using Egharpay.Extensions
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle avatar-navigation" src="~/Images/Avatar.png" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Hi, User</strong>
                            </span> <span class="text-muted text-xs block">Admin <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Profile", "Personnel")">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Logout", "Account")">Logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>