@using Microsoft.AspNet.Identity
<div id="right-sidebar">
    <div class="sidebar-container">

        <ul class="nav nav-tabs navs-3">
            <li class="active">
                <a data-toggle="tab" href="#tab-3">
                    <i class="fa fa-gear"></i>
                </a>
            </li>
        </ul>

        <div class="tab-content">


            <div id="tab-3" class="tab-pane active">
                <div class="sidebar-title">
                    <h3><i class="fa fa-gears"></i> Settings</h3>
                    <small><i class="fa fa-tim"></i> You can change your account details.</small>
                </div>
                <div class="setings-item">
                    <span>
                        <img alt="image" src="/images/a6.jpg">
                    </span>
                </div>
                <div class="setings-item">
                    <span>
                        @User.Identity.GetUserName()
                    </span>
                </div>
                <div class="setings-item">
                    <span>
                        @Html.ActionLink("Edit Profile", "Profile", "Personnel", null, new { @class = "btn btn-danger" })
                    </span>
                </div>
                <div class="sidebar-content">
                    <h4>Settings</h4>
                    <div class="small">
                        We belive that. Mumbile will give you a better experience of browsing in store.
                    </div>
                </div>

            </div>
        </div>

    </div>



</div>
