@using Egharpay.Extensions
<div class="row border-bottom">
    @if (User.IsSuperUserOrAdminOrSeller() || User.IsMobileRepairAdmin())
    {
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a href="~/Home" class="navbar-brand btn btn-primary"><strong>mumbile</strong></a>
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i> <span class="label label-primary"></span>
                    </a>
                </li>
                <li>
                    <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">Welcome to mumbile.</span>
                </li>

                <li class="dropdown">
                    @if (User.Identity.IsAuthenticated)
                {
                    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                            @Html.AntiForgeryToken()

                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        <li>@Html.ActionLink("Reset Password", "ResetPassword", "Account")</li>
                        }
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Login", "Account")">
                                <i class="fa fa-sign-in"></i> Login
                            </a>
                        </li>
                    }
                    <li>
                        <button class="btn btn-primary navbar-toggle collapsed right-sidebar-toggle">
                            <i class="fa fa-tasks"></i>
                        </button>
                    </li>
                </ul>

            </nav>

    }
    else
    {

    }

</div>