@using Egharpay.Extensions
<div class="row white-bg" ng-controller="HomeController as model" ng-init="model.initialise()">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <div class="row">
                <div class="col-lg-2" id="brand">
                    <a href="~/Home" class="navbar-brand"><strong>mumbile</strong></a>
                </div>

                <div class="col-lg-10">
                    <form class="navbar-form navbar-left form-inline" role="search">
                        <div class="form-group">
                            <a href="~/Home" class="btn btn-primary mobile-logo mobile-view">
                                <strong>mumbile</strong>
                            </a>
                            @if (!User.IsSuperUserOrAdminOrSeller())
                            {
                                <button type="button" class="btn btn-primary navbar-toggle collapsed right-sidebar-toggle" id="rightsidebartoggle">
                                    <i class="fa fa-tasks"></i>
                                </button>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="navbar-collapse collapse" id="navbar">
            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <ul class="nav navbar-top-links navbar-right">
                        @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
                        @if (!User.IsSuperUserOrAdminOrSeller())
                        {
                            <li>
                                <button type="button" class="btn btn-primary navbar-toggle collapsed right-sidebar-toggle" id="rightsidebartogglebutton">
                                    <i class="fa fa-tasks"></i>
                                </button>
                            </li>
                        }
                    </ul>
                }
            }
            else
            {
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="@Url.Action("Login", "Account")">
                            <i class="fa fa-sign-in"></i> Login
                        </a>
                    </li>
                </ul>
            }

        </div>

    </nav>
</div>
<div class="margin-top-override">
</div>